html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: proxima-nova, sans-serif;
	font-style: normal;
	/*overflow-x:hidden;*/
}



section{
	width: 100%;
	padding: 0 7%;
	display: table;
	margin: 0;
	max-width: none;
	/*background-color: #373B44;*/
	height: 100vh;
	/*border: 1px solid black;*/
}



#title{
	width: 100%;
	height: 100vh;
	background-image: url(baby1.png);
	/*background-color: #30a7b5;*/
}



.titletext{
	width: 900px;
	height: 50px;
	margin-left: 28%;
	top: 10%;
	position: absolute;
}

.titletext h1{
	color: white;
	opacity: 80%;
	text-align: left;
	vertical-align: middle;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 80px;
}

.sidebar{
	width: 20%;
	height: 100vh;
	/*background-color: #10579a;*/
	position: absolute;
	display: block;
	top: 25%;
}

.sidebartop{
	width: 20%;
	height: 2%;
	background-color: #10579a;
	position: absolute;
	top: 23.1%;
}


.sidebarbott{
	width: 20%;
	height: 2%;
	background-color: #10579a;
	position: absolute;
	top: 74.9%;

}

.navigationbox{
	width: 100%;
	height: 10%;
	background-color: #ffff;
	opacity: 0.8;
	/*border-bottom: 0.1px solid #10579a;*/
}


a :hover{
	background-color: #10579a;
	color: white;
}

a{
	text-transform: uppercase;
	font-weight: bold;
	color: #10579a;
	font-size: 0.9rem; 
	text-align: center;
	vertical-align: middle;
	line-height: 80px;
}

.footer{
	width: 100%;
	height: 7%;
	background-color: #76b343;
	position: absolute;
	bottom: 0;
	opacity: 0.8;
}

.content{
	width: 70%;
	height: 90vh;
	position: absolute;
	top: 5%;
	left: 25%;
	/*border: 1px solid black;*/
}

.content2{
	width: 70%;
	height: 90vh;
	position: absolute;
	top: 15%;
	left: 25%;
	/*border: 1px solid black;*/
}


.content3{
	width: 70%;
	height: 90vh;
	position: absolute;
	top: 2%;
	left: 25%;
}


.content h2, .content2 h2, .content3 h2{
	text-transform: uppercase;
	font-weight: bold;
	color: #10579a;
	font-size: 2.5rem; 
	text-align: left;
	vertical-align: middle;
	line-height: 80px;
}

.description{
	width: 60%;
	height: 13%;
	position: absolute;
	left: 0;
	/*border: 1px solid black;*/
}

.description p{
	font-size: 15px;
	text-align: left;
	color: black;
	line-height: 20px;
}


#left{
	width: 30%;
	height: 68%;
	/*border: 1px solid black;*/
	display: inline-block;
	float: left;
	position: absolute;
	left: 0;
	top: 28%;
}

.column h3{
	font-size: 18px;
	color: #76b343;
	font-weight: bold;
	margin-bottom: 3%;
	text-align: left;

}



.second{
	margin-top: 12%;
}

.secondright{
	margin-top: 21%;
}


.column p{
	font-size: 15px;
	text-align: left;
	color: black;
	line-height: 18px;
}



#right{
	width: 30%;
	height: 68%;
	/*border: 1px solid black;*/
	display: inline-block;
	position: absolute;
	left: 37%;
	top: 28%;
}

#left ul{
	margin-left: 5%;
	margin-top: 5%;
}


#left li{
	text-decoration: none;
	list-style-type: circle;
	text-align: left;
	color: black;
	font-size: 15px;
	line-height: 25px;
}

.imagecontainer{
	width: 25%;
	height: 65%;
	position: absolute;
	/*border: 1px solid black;*/
	left: 75%;
	top: 28%;
}

.imagecontainer2{
	width: 25%;
	height: 65%;
	position: absolute;
	/*border: 1px solid black;*/
	left: 75%;
	top: 27%;
}

.image{
	width: 100%;
	height: 45%;
	position: absolute;
	border: 3px solid #d89728;
}

#img2{
	top:55%;
}

#img3{
	width: 100%;
	height: 70%;
	position: absolute;
	border: 3px solid #d89728;
}

.single{
	width: 68%;
	height: 90%;
	display: inline-block;
	float: left;
	position: absolute;
	left: 0;
	top: 15%;
	/*border: 1px solid black;*/
}

.single h3{
	font-size: 18px;
	color: #76b343;
	font-weight: bold;
	margin-bottom: 3%;
	text-align: left;
	margin-top: 0;

}

.single h4{
	font-size: 15px;
	color: black;
	font-weight: bold;
	text-align: left;
	margin-bottom: 1%;
	margin-top: 0;
}
.single .second{
		margin-top: 5%;
}

.single p{
	font-size: 15px;
	text-align: left;
	color: black;
	line-height: 18px;
	margin-bottom: 3%;
}

.chart{
	top: 15%;
	left: 5%;
	width: 90%;
	height: 75vh;
	/*border: 1px solid black;*/
	position: absolute;
	background-image: url(comparativechart.jpg);

}

.roadmap{
	top: 15%;
	left: 15%;
	width: 74%;
	height: 75vh;
	/*border: 1px solid black;*/
	position: absolute;
	background-image: url(roadmap.gif);

}

.logo{
	width: 20%;
	height: 80%;
	margin-top: 1%;
	left: 78%;
	position: absolute;
	/*background-color: black;*/
	color: white;

}










