html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: proxima-nova, sans-serif;
	font-style: normal;
}

section{
	width: 100%;
	padding: 0;
	display: table;
	max-width: none;
	/*background-color: #373B44;*/
	height: 130vh;
	/*border: 1px solid black;*/
}

/*SCROLL*/
			.scrollcontainer {
			  position: absolute;
			  width: 24px;
			  height: 24px;
			  left: 55%;
			  top: 80%;

			}

			.chevron {
			  position: absolute;
			  width: 28px;
			  height: 8px;
			  opacity: 0;
			  transform: scale3d(0.5, 0.5, 0.5);
			  animation: move 3s ease-out infinite;
			}

			.chevron:first-child {
			  animation: move 3s ease-out 1s infinite;
			}

			.chevron:nth-child(2) {
			  animation: move 3s ease-out 2s infinite;
			}

			.chevron:before,
			.chevron:after {
			  content: ' ';
			  position: absolute;
			  top: 0;
			  height: 100%;
			  width: 51%;
			  background: #d89728;
			}

			.chevron:before {
			  left: 0;
			  transform: skew(0deg, 30deg);
			}

			.chevron:after {
			  right: 0;
			  width: 50%;
			  transform: skew(0deg, -30deg);
			}

			@keyframes move {
			  25% {
			    opacity: 1;

			  }
			  33% {
			    opacity: 1;
			    transform: translateY(30px);
			  }
			  67% {
			    opacity: 1;
			    transform: translateY(40px);
			  }
			  100% {
			    opacity: 0;
			    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
			  }
			}



.divider{
	width: 70%;
	height: 15px;
	background-color: #30a7b5;
	position: absolute;
	left: 30%;
}


#section1{
	height: 220vh;
	background-image: url(bgpattern-3.png);

}

#section2{
	height: 170vh;
	background-image: url(bgpattern-3.png);

}

#section3{
	height: 150vh;
	background-image: url(bgpattern-3.png);
}

#section4{
	height: 190vh;
	background-image: url(bgpattern-3.png);
}


#section5{
	height: 220vh;
	background-image: url(bgpattern-3.png);
}

#section6{
	height: 160vh;
	background-image: url(bgpattern-3.png);
}


#section7{
	height: 100vh;
	background-image: url(bgpattern-3.png);
}

#title{
	width: 100%;
	height: 100vh;
	/*background-color: rgba(84, 99, 106, 0.1);*/
	background-image: url(bgpattern-2.png);
}


.titletext{
	width: 900px;
	height: 50px;
	margin-left: 28%;
	top: 25%;
	position: absolute;
}

#title img{
	width: 300px;
	position: absolute;
	top: 30%;
	left: 50%;

}

#firstsection{
	margin-top: 120px;
}

.titletext h1{
	color: #10579a;
	opacity: 80%;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 80px;
	margin-bottom: 10px;
}

.titletext h2{
	font-size: 30px;
	color: #76b343;
	opacity: 80%;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}

.sidebar{
	width: 20%;
	height: 100vh;
	/*background-color: #10579a;*/
	position: absolute;
	display: block;
	top: 15%;
	position: fixed;
}

.sidebartop{
	width: 20%;
	height: 2%;
	background-color: #10579a;
	position: fixed;
	top: 13%;
}


.sidebarbott{
	width: 20%;
	height: 2%;
	background-color: #10579a;
	position: fixed;
	top: 84%;

}

.navigationbox{
	width: 100%;
	height: 10%;
	background-color: #ffff;
	opacity: 0.8;
	/*border-bottom: 0.1px solid #10579a;*/
}


.sidebar a :hover{
	background-color: #10579a;
	color: white;
}

.sidebar a{
	text-transform: uppercase;
	font-weight: bold;
	color: #10579a;
	font-size: 0.9rem; 
	text-align: center;
	vertical-align: middle;
	line-height: 80px;
	text-decoration: none;
}

.content{
	width: 70%;
	height: 140vh;
	position: absolute;
	margin-top: 10px;
	margin-left: 30%;
	/*border: 1px solid black;*/
}

.content2{
	width: 70%;
	height: 140vh;
	position: absolute;
	margin-top: 0;
	margin-left: 25%;
	/*border: 1px solid black;*/
}


.content3{
	width: 70%;
	height: 100vh;
	position: absolute;
	margin-top: 0;
	margin-left: 30%;
}


.content h2, .content2 h2, .content3 h2{
	text-transform: uppercase;
	font-weight: bold;
	color: #10579a;
	font-size: 2.5rem; 
	text-align: left;
	vertical-align: middle;
	line-height: 80px;
	margin-bottom: 5px;
}

.description{
	width: 60%;
	height: 13%;
	position: absolute;
	/*border: 1px solid black;*/
	margin-top: 0;
}

.description p{
	font-size: 15px;
	text-align: left;
	color: black;
	line-height: 20px;
}


.imagecontainer{
	width: 25%;
	height: 65%;
	position: absolute;
	/*border: 1px solid black;*/
	top: 70%;
}


.skullcontainer{
	width: 100%;
	height: 480px;
	position: absolute;
	margin-top: 20px;
	/*margin-left: 15%;*/
	display: inline-block;
	/*border: 1px solid black;*/
}

.skull1{
	width: 50%;
	height: 230px;
	position: absolute; 
	display: inline-block;
	/*border: 1px solid black;*/
}

.skullheading{
	width: 200px;
	margin-left: 22%;

}

.skullimage{
	width: 400px;
	height: 200px;
	margin-left: 20%;
}

.skull2{
	width: 50%;
	height: 230px;
	position: absolute; 
	display: inline-block;
	margin-left: 50%;
}

.skull3{
	width: 50%;
	height: 230px;
	position: absolute; 
	display: inline-block;
	/*margin-left: 50%;*/
	margin-top: 240px;
}

.skull4{
	width: 50%;
	height: 230px;
	position: absolute; 
	display: inline-block;
	margin-left: 50%;
	margin-top: 240px;
}


.image{
	width: 100%;
	height: 45%;
	position: absolute;
	/*border: 3px solid #d89728;*/
}

#img2{
	margin-top:55%;
}

#img3{
	width: 50%;
	height: 87%;
	position: absolute;
	/*border: 3px solid #d89728;*/
	margin-top: 600px;
	margin-left: 30%;
}

/*CHART*/
		
		.chart{
			top: 35%;
			width: 85%;
			height: 75vh;
			/*border: 1px solid black;*/
			position: absolute;
			/*background-image: url(comparisonchart-3.svg);*/
		}

		.chart img{
			width: 850px;
			position: absolute;
			top: 0%;
		}


		/*Chart FONT*/

		h5{
			margin: 0;
			font-size: 30px;
			text-transform: uppercase;
			text-align: center;
		}

		.openrepair{
			width: 200px;
			height: 70px;
			position: absolute;
			top: 20px;
			left: 165px;
		}

		.openrepair h5{
			color: #10579a;
		}

		.endorepair{
			width: 200px;
			height: 70px;
			position: absolute;
			left: 560px;
			top: 20px;
		}

		.endorepair h5{
			color: #76b343;
			text-align: center;
		}

		.chartcontent{
			width: 250px;
			height: 50px;
			position: absolute;
			
		}

		.chartcontent p{
			font-size: 13px; 
		}

		.chartcontent h6{
			font-size: 15px;
			color: #30a7b5;
		}

		#cc1{
			top: 150px;
		}

			#cc8{
				top: 175px;
				left: 160px;
			}

			#cc9{
				top: 162px;
				left: 525px;
			}

		#cc2{
			top: 195px;
		}

			#cc10{
				top: 220px;
				left: 160px;
			}

			#cc11{
				top: 220px;
				left: 525px;
			}

		#cc3{
			top: 245px;
		}
			#cc12{
				top: 265px;
				left: 160px;
			}

			#cc13{
				top: 265px;
				left: 525px;
			}


		#cc4{
			top: 300px;
		}
			#cc14{
				top: 320px;
				left: 160px;
			}

			#cc15{
				top: 320px;
				left: 525px;
			}

		#cc5{
			top: 360px;
		}
			#cc16{
				top: 375px;
				left: 160px;
			}

			#cc17{
				top: 375px;
				left: 525px;
			}

		#cc6{
			top: 420px;
		}

			#cc18{
				top: 430px;
				left: 160px;
			}

			#cc19{
				top: 430px;
				left: 525px;
			}


		#cc7{
			top: 475px;
		}
			#cc20{
				top: 500px;
				left: 160px;
			}

			#cc21{
				top: 500px;
				left: 525px;
			}

/*____________*/
		


/*Roadmap*/

		.roadmap{
			top: 15%;
			left: 5%;
			width: 80%;
			/*height: 75vh;*/
			/*border: 1px solid black;*/
			position: absolute;
			/*background-image: url(comparisonchart-3.svg);*/
		}

		.roadmap img{
			width: 850px;
			position: absolute;
			top: 0%;
			margin-left: -5%;
		}

		.rmcontent{
			width: 200px;
			height: 50px;
			position: absolute;
		}

		.rmcontent2{
			width: 150px;
			height: 50px;
			position: absolute;
		}


		.rmcontent h5{
			font-size: 25px;
			text-align: left;
		}

		.rmcontent h6{
			font-size: 15px;
			margin-bottom: 5px;
		}

		.rmcontent p{
			font-size: 12px;
			color: #10579a;
			font-weight: bold;
			margin-left: 35px;
			margin-top: 5px;
		}

		.rmcontent2 h6{
			font-size: 15px;
			margin-bottom: 5px;
		}

		.rmcontent2 p{
			font-size: 12px;
			color: #10579a;
			font-weight: bold;
			margin-left: 35px;
			margin-top: 5px;
		}


		#rm1{
			top: 20px;
			left: 60px;
		}

		#rm2{
			top: 40px;
			left: 390px;
		}

		#rm3{
			top: 180px;
			left: 5px;
		}

		#rm4{
			top: 270px;
			left: -10px;
		}

		#rm5{
			top: 360px;
			left: -20px;
		}
		#rm5 p{
			margin-left: 30px;
		}

		#rm6{
			top: 172px;
			left: 420px;
		}

		#rm7{
			top: 150px;
			left: 643px;
		}
		#rm7 p{
			margin-left: 10px;
		}

		#rm8{
			top: 265px;
			left: 655px;
		}

		#rm9{
			top: 265px;
			left: 410px;
		}

		#rm10{
			top: 370px;
			left: 420px;
		}
		#rm10 p{
			margin-left: 0px;
		}

		#rm11{
			top: 370px;
			left: 650px;
		}
		#rm11 p{
			margin-left: 0px;
		}

		#rm12{
			top: 570px;
			left: -30px;
		}

		#rm13{
			top: 570px;
			left: 165px;
		}

		#rm14{
			top: 570px;
			left: 355px;
		}
	
		#rm12 p, #rm13 p, #rm14 p{
			margin-left: 0px;
		}

		#rm15{
			top: 570px;
			left: 610px;
		}
		

/*____________*/

.single{
	width: 68%;
	height: 90%;
	display: inline-block;
	float: left;
	position: absolute;
	left: 0;
	margin-top:8%;
	/*border: 1px solid black;*/
}


.single2{
	width: 68%;
	height: 90%;
	display: inline-block;
	float: left;
	position: absolute;
	left: 0;
	margin-top:0%;
}


.single h3{
	font-size: 18px;
	color: #76b343;
	font-weight: bold;
	margin-bottom: 3%;
	text-align: left;
	margin-top: 0;

}

.single2 h4{
	font-size: 15px;
	color: black;
	font-weight: bold;
	text-align: left;
	margin-bottom: 1%;
	margin-top: 0;
}

.single h4{
	font-size: 15px;
	color: black;
	font-weight: bold;
	text-align: left;
	margin-bottom: 1%;
	margin-top: 0;
}
.single .second{
		margin-top: 5%;
}

.single p{
	font-size: 15px;
	text-align: left;
	color: black;
	line-height: 18px;
	margin-bottom: 3%;
}


/*HELMETS BUTTON*/

.button2{
	width: 200px;
	height: 150px;
	border: 5px solid #d89728;
	position: absolute;
	left: 57%;
	top: 80%;
}

.button2 p{
	font-size: 1.3rem;
	text-transform: uppercase;
	color: #d89728;
	padding-top: 10%;
	padding-left: 18%;
	font-weight: bold;
}


.buttonlink2{
	width: 50px;
	height: 50px;
	border-radius: 50px;
	position: absolute;
	background-color: #d89728;
	left: 38%;
	top: 57%;	
}

.buttonlink2 p{
	/*color: #10579a;*/
	color: white;
	font-size: 30px;
	position: absolute;
	padding-left: 10px;
	margin-top: 10px;
}

/*RESOURCES BUTTON*/
.button{
	width: 200px;
	height: 150px;
	border: 5px solid #76b343;
	position: absolute;
	left: 20%;
	top: 150%;
}

.button p{
	font-size: 1.3rem;
	text-transform: uppercase;
	color: #76b343;
	padding-top: 0%;
	padding-left: 0%;
	font-weight: bold;
	text-align: center;
}


.buttonlink{
	width: 50px;
	height: 50px;
	border-radius: 50px;
	position: absolute;
	background-color: #76b343;
	left: 38%;
	top: 57%;	
}

.buttonlink p{
	/*color: #10579a;*/
	color: white;
	font-size: 30px;
	position: absolute;
	padding-left: 10px;
	margin-top: 8px;
}

#button2{
	left: 55%;
	top: 150%;
}

#button1{
	left: 10%;
	top: 150%;
}
/*
.whitenav{
				width: 30%;
				height: 100%;
				background-color: white;
				position: absolute;
				opacity: 0.5;

			}*/

/*LAPTOP-HIDE HAMBURGER*/
@media screen 
  and (min-device-width: 1062px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

  	.menu-wrap{
			  visibility: hidden;
			}
}
/**/




/*LAPTOP2*/
@media only screen 
  and (min-width: 1063px) 
  and (max-width: 1250px) 
  and (-webkit-min-device-pixel-ratio: 1) {

  	#section4{
	height: 170vh;
	}	

	#section1{
	height: 230vh;
	}

	#section2{
		height: 170vh;
	}

	#section3{
		height: 160vh;
	}



	#section5,#section6{
		height: 225vh;
	}

  	.titletext{
	width: 700px;
	height: 50px;
	margin-left: 28%;
	top: 25%;
	position: absolute;
	}

	#title img{
		width: 300px;
		position: absolute;
		top: 30%;
		left: 50%;

	}

	.titletext h1{
		color: #10579a;
		opacity: 80%;
		text-align: center;
		vertical-align: middle;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 60px;
		margin-bottom: 10px;
	}

	.titletext h2{
		font-size: 30px;
		color: #76b343;
		opacity: 80%;
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
	}

	.navigationbox{
		width: 100%;
		height: 10%;
		background-color: #ffff;
		opacity: 0.8;
		/*border-bottom: 0.1px solid #10579a;*/
	}


	.sidebar a :hover{
		background-color: #10579a;
		color: white;
	}

	.sidebar a{
		text-transform: uppercase;
		font-weight: bold;
		color: #10579a;
		font-size: 0.8rem; 
		text-align: center;
		vertical-align: middle;
		line-height: 80px;
		text-decoration: none;
	}

	.content{
		width: 70%;
		height: 140vh;
		position: absolute;
		margin-top: 10px;
		margin-left: 30%;
		/*border: 1px solid black;*/
	}

	.content2{
		width: 70%;
		height: 140vh;
		position: absolute;
		margin-top: 0;
		margin-left: 25%;
		/*border: 1px solid black;*/
	}


	.content3{
		width: 70%;
		height: 100vh;
		position: absolute;
		margin-top: 0;
		margin-left: 30%;
	}


	.content h2, .content2 h2, .content3 h2{
		text-transform: uppercase;
		font-weight: bold;
		color: #10579a;
		font-size: 2.5rem; 
		text-align: left;
		vertical-align: middle;
		line-height: 80px;
		margin-bottom: 5px;
	}

	.description{
		width: 60%;
		height: 13%;
		position: absolute;
		/*border: 1px solid black;*/
		margin-top: 0;

	}

	.description p{
		font-size: 15px;
		text-align: left;
		color: black;
		line-height: 20px;

	}


	.imagecontainer{
	width: 25%;
	height: 65%;
	position: absolute;
	/*border: 1px solid black;*/
	top: 70%;
}



		.skullcontainer{
		width: 100%;
		height: 480px;
		position: absolute;
		margin-top: 20px;
		/*margin-left: 15%;*/
		display: inline-block;
		/*border: 1px solid black;*/
	}


	.skull1{
		width: 50%;
		height: 230px;
		position: absolute; 
		display: inline-block;
		/*border: 1px solid black;*/
	}

	.skullheading{
		width: 200px;
		margin-left: 22%;

	}

	.skullimage{
		width: 400px;
		height: 200px;
		margin-left: 20%;
	}

	.skull2{
		width: 50%;
		height: 230px;
		position: absolute; 
		display: inline-block;
		margin-left: 50%;
	}

	.skull3{
		width: 50%;
		height: 230px;
		position: absolute; 
		display: inline-block;
		/*margin-left: 50%;*/
		margin-top: 240px;
	}

	.skull4{
		width: 50%;
		height: 230px;
		position: absolute; 
		display: inline-block;
		margin-left: 50%;
		margin-top: 240px;
	}

	.image{
		width: 100%;
		height: 45%;
		position: absolute;
		/*border: 3px solid #d89728;*/
	}

	#img2{
		margin-top:55%;
	}

	#img3{
		width: 50%;
		height: 87%;
		position: absolute;
		/*border: 3px solid #d89728;*/
		margin-top: 600px;
		margin-left: 30%;
	}

	/*CHART*/
		
		.chart{
			top: 35%;
			width: 85%;
			height: 75vh;
			/*border: 1px solid black;*/
			position: absolute;
			/*background-image: url(comparisonchart-3.svg);*/
		}

		.chart img{
			width: 700px;
			position: absolute;
			top: 0%;
		}


		/*Chart FONT*/

		h5{
			margin: 0;
			font-size: 25px;
			text-transform: uppercase;
			text-align: center;
		}

		.openrepair{
			width: 200px;
			height: 70px;
			position: absolute;
			top: 15px;
			left: 120px;
		}

		.openrepair h5{
			color: #10579a;
		}

		.endorepair{
			width: 200px;
			height: 70px;
			position: absolute;
			left: 445px;
			top: 15px;
		}

		.endorepair h5{
			color: #76b343;
			text-align: center;
		}

		.chartcontent{
			width: 250px;
			height: 50px;
			position: absolute;
			
		}

		.chartcontent p{
			font-size: 13px; 
		}

		.chartcontent h6{
			font-size: 15px;
			color: #30a7b5;
		}

		#cc1{
			top: 110px;
		}

			#cc8{
				top: 135px;
				left: 130px;
			}

			#cc9{
				top: 120px;
				left: 440px;
			}

		#cc2{
			top: 155px;
		}

			#cc10{
				top: 180px;
				left: 130px;
			}

			#cc11{
				top: 180px;
				left: 440px;
			}

		#cc3{
			top: 200px;
		}
			#cc12{
				top: 215px;
				left: 130px;
			}

			#cc13{
				top: 215px;
				left: 440px;
			}


		#cc4{
			top: 245px;
		}
			#cc14{
				top: 260px;
				left: 130px;
			}

			#cc15{
				top: 260px;
				left: 440px;
			}

		#cc5{
			top: 290px;
		}
			#cc16{
				top: 305px;
				left: 130px;
			}

			#cc17{
				top: 305px;
				left: 440px;
			}

		#cc6{
			top: 340px;
		}

			#cc18{
				top: 355px;
				left: 130px;
			}

			#cc19{
				top: 355px;
				left: 440px;
			}


		#cc7{
			top: 385px;
		}
			#cc20{
				top: 410px;
				left: 130px;
			}

			#cc21{
				top: 410px;
				left: 440px;
			}

/*____________*/
		


/*Roadmap*/

		.roadmap{
			top: 15%;
			left: 5%;
			width: 80%;
			/*height: 75vh;*/
			/*border: 1px solid black;*/
			position: absolute;
			/*background-image: url(comparisonchart-3.svg);*/
		}

		.roadmap img{
			width: 700px;
			position: absolute;
			top: 0%;
			margin-left: -5%;
		}

		.rmcontent{
			width: 150px;
			height: 50px;
			position: absolute;
		}

		.rmcontent2{
			width: 100px;
			height: 50px;
			position: absolute;
		}


		.rmcontent h5{
			font-size: 20px;
			text-align: left;
		}

		.rmcontent h6{
			font-size: 13px;
			margin-bottom: 5px;
		}

		.rmcontent p{
			font-size: 12px;
			color: #10579a;
			font-weight: bold;
			margin-left: 35px;
			margin-top: 5px;
		}

		.rmcontent2 h6{
			font-size: 15px;
			margin-bottom: 5px;
		}

		.rmcontent2 p{
			font-size: 12px;
			color: #10579a;
			font-weight: bold;
			margin-left: 35px;
			margin-top: 5px;
		}


		#rm1{
			top: 25px;
			left: 60px;
		}

		#rm2{
			top: 40px;
			left: 330px;
		}

		#rm3{
			top: 145px;
			left: 3px;
		}

		#rm4{
			top: 220px;
			left: -10px;
		}

		#rm5{
			top: 290px;
			left: -20px;
		}
		#rm5 p{
			margin-left: 28px;
		}

		#rm6{
			top: 142px;
			left: 348px;
		}

		#rm7{
			top: 110px;
			left: 560px;
		}
		#rm7 p{
			margin-left: 0px;
		}

		#rm8{
			top: 218px;
			left: 545px;
		}
		#rm8 p{
			margin-left: 20px;
		}

		#rm9{
			top: 218px;
			left: 335px;
		} 
		#rm9 p{
			margin-left: 25px;
		}

		#rm10{
			top: 300px;
			left: 335px;
		}
		#rm10 p{
			margin-left: 0px;
		}

		#rm11{
			top: 300px;
			left: 520px;
		}
		#rm11 p{
			margin-left: 0px;
		}

		#rm12{
			top: 480px;
			left: -30px;
		}

		#rm13{
			top: 480px;
			left: 150px;
		}

		#rm14{
			top: 480px;
			left: 300px;
		}
	
		#rm12 p, #rm13 p, #rm14 p{
			margin-left: 0px;
		}

		#rm15{
			top: 480px;
			left: 510px;
		}


	.single{
		width: 68%;
		height: 90%;
		display: inline-block;
		float: left;
		position: absolute;
		left: 0;
		margin-top:8%;
		/*border: 1px solid black;*/
	}


	.single2{
		width: 68%;
		height: 90%;
		display: inline-block;
		float: left;
		position: absolute;
		left: 0;
		margin-top:0%;
	}


	.single h3{
		font-size: 18px;
		color: #76b343;
		font-weight: bold;
		margin-bottom: 3%;
		text-align: left;
		margin-top: 0;

	}

	.single2 h4{
		font-size: 15px;
		color: black;
		font-weight: bold;
		text-align: left;
		margin-bottom: 1%;
		margin-top: 0;
	}

	.single h4{
		/*font-size: 15px;*/
		color: black;
		font-weight: bold;
		text-align: left;
		margin-bottom: 1%;
		margin-top: 0;
	}
	.single .second{
			margin-top: 5%;
	}

	.single p{
		font-size: 15px;
		text-align: left;
		color: black;
		line-height: 18px;
		margin-bottom: 3%;
	}

	.divider{
	width: 70%;
	height: 15px;
	background-color: #30a7b5;
	position: absolute;
	left: 30%;
	}


	/*HELMETS BUTTON*/

	.button2{
		width: 200px;
		height: 150px;
		border: 5px solid #d89728;
		position: absolute;
		left: 57%;
		top: 80%;
	}

	.button2 p{
		font-size: 1.3rem;
		text-transform: uppercase;
		color: #d89728;
		padding-top: 5%;
		padding-left: 18%;
		font-weight: bold;
	}


	.buttonlink2{
		width: 50px;
		height: 50px;
		border-radius: 50px;
		position: absolute;
		background-color: #d89728;
		left: 38%;
		top: 57%;	
	}

	.buttonlink2 p{
		/*color: #10579a;*/
		color: white;
		font-size: 30px;
		position: absolute;
		padding-left: 10px;
		margin-top: 5px;
	}

	/*RESOURCES BUTTON*/
	.button{
		width: 200px;
		height: 150px;
		border: 5px solid #76b343;
		position: absolute;
		left: 30%;
		top: 180%;
	}

	.button p{
		font-size: 1.3rem;
		text-transform: uppercase;
		color: #76b343;
		padding-top: 0%;
		padding-left: 18%;
		font-weight: bold;
	}


	.buttonlink{
		width: 50px;
		height: 50px;
		border-radius: 50px;
		position: absolute;
		background-color: #76b343;
		left: 38%;
		top: 57%;	
	}

	.buttonlink p{
		/*color: #10579a;*/
		color: white;
		font-size: 30px;
		position: absolute;
		padding-left: 10px;
		margin-top: 8px;
	}

}





/*LAPTOP3*/
@media only screen 
  and (min-width: 860px) 
  and (max-width: 1062px) 
  and (-webkit-min-device-pixel-ratio: 1) {

  	#section4{
	height: 190vh;
	}	

	#section1{
	height: 260vh;
	}


	#section5{
		height: 260vh;
	}

	#section6{
		height: 190vh;
	}

  	.titletext{
	width: 600px;
	height: 50px;
	margin-left: 26%;
	top: 26%;
	position: absolute;
	}

	#title img{
		width: 300px;
		position: absolute;
		top: 30%;
		left: 50%;

	}

	.titletext h1{
		color: #10579a;
		opacity: 80%;
		text-align: center;
		vertical-align: middle;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 55px;
		margin-bottom: 10px;
		padding-left: 50px;
	}

	.titletext h2{
		/*font-size: 25px;*/
		color: #76b343;
		opacity: 80%;
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
		padding-left: 50px;
	}

	/*SIDEBAR HIDDEN*/
	.sidebar{
		visibility: hidden;
	}
	.sidebartop{
		visibility: hidden;
	}
	.sidebarbott{
		visibility: hidden;
	}
/*SIDEBAR HIDDEN*/

	.content{
		width: 70%;
		height: 140vh;
		position: absolute;
		margin-top: 10px;
		margin-left: 30%;
		/*border: 1px solid black;*/
	}

	.content2{
		width: 70%;
		height: 140vh;
		position: absolute;
		margin-top: 0;
		margin-left: 25%;
		/*border: 1px solid black;*/
	}


	.content3{
		width: 70%;
		height: 100vh;
		position: absolute;
		margin-top: 0;
		margin-left: 30%;
	}


	.content h2, .content2 h2, .content3 h2{
		text-transform: uppercase;
		font-weight: bold;
		color: #10579a;
		/*font-size: 2rem; */
		text-align: left;
		vertical-align: middle;
		line-height: 80px;
		margin-bottom: 5px;
	}

	.description{
		width: 60%;
		height: 13%;
		position: absolute;
		/*border: 1px solid black;*/
		margin-top: 0;

	}

	.description p{
		/*font-size: 12px;*/
		text-align: left;
		color: black;
		line-height: 18px;

	}


	.imagecontainer{
	width: 25%;
	height: 65%;
	position: absolute;
	/*border: 1px solid black;*/
	top: 80%;
}


	.skullcontainer{
	width: 100%;
	height: 480px;
	position: absolute;
	margin-top: 20px;
	/*margin-left: 15%;*/
	display: inline-block;
	/*border: 1px solid black;*/
}


.skull1{
	width: 50%;
	height: 230px;
	position: absolute; 
	display: inline-block;
	/*border: 1px solid black;*/
}

.skullheading{
	width: 200px;
	margin-left: 22%;

}

.skullimage{
	width: 400px;
	height: 200px;
	margin-left: 20%;
}

.skull2{
	width: 50%;
	height: 230px;
	position: absolute; 
	display: inline-block;
	margin-left: 50%;
}

.skull3{
	width: 50%;
	height: 230px;
	position: absolute; 
	display: inline-block;
	/*margin-left: 50%;*/
	margin-top: 240px;
}

.skull4{
	width: 50%;
	height: 230px;
	position: absolute; 
	display: inline-block;
	margin-left: 50%;
	margin-top: 240px;
}

	.image{
		width: 100%;
		height: 45%;
		position: absolute;
		/*border: 3px solid #d89728;*/
	}

	#img2{
		margin-top:55%;
	}

	#img3{
		width: 50%;
		height: 87%;
		position: absolute;
		/*border: 3px solid #d89728;*/
		margin-top: 600px;
		margin-left: 30%;
	}

	
	/*CHART*/
		
		.chart{
			top: 35%;
			width: 85%;
			height: 75vh;
			/*border: 1px solid black;*/
			position: absolute;
			/*background-image: url(comparisonchart-3.svg);*/
		}

		.chart img{
			width: 600px;
			height: 580px;
			position: absolute;
			top: 0%;
		}


		/*Chart FONT*/

		h5{
			margin: 0;
			font-size: 20px;
			text-transform: uppercase;
			text-align: center;
		}

		.openrepair{
			width: 200px;
			height: 70px;
			position: absolute;
			top: 30px;
			left: 90px;
		}

		.openrepair h5{
			color: #10579a;
		}

		.endorepair{
			width: 200px;
			height: 70px;
			position: absolute;
			left: 365px;
			top: 30px;
		}

		.endorepair h5{
			color: #76b343;
			text-align: center;
		}

		.chartcontent{
			width: 200px;
			height: 50px;
			position: absolute;
			
		}

		.chartcontent p{
			font-size: 12px; 
		}

		.chartcontent h6{
			font-size: 15px;
			color: #30a7b5;
		}

		#cc1{
			top: 150px;
		}

			#cc8{
				top: 160px;
				left: 130px;
			}

			#cc9{
				top: 150px;
				left: 400px;
			}

		#cc2{
			top: 200px;
		}

			#cc10{
				top: 210px;
				left: 130px;
			}

			#cc11{
				top: 210px;
				left: 400px;
			}

		#cc3{
			top: 250px;
		}
			#cc12{
				top: 260px;
				left: 130px;
			}

			#cc13{
				top: 245px;
				left: 400px;
			}


		#cc4{
			top: 300px;
		}
			#cc14{
				top: 310px;
				left: 130px;
			}

			#cc15{
				top: 310px;
				left: 400px;
			}

		#cc5{
			top: 350px;
		}
			#cc16{
				top: 360px;
				left: 130px;
			}

			#cc17{
				top: 360px;
				left: 400px;
			}

		#cc6{
			top: 400px;
		}

			#cc18{
				top: 405px;
				left: 130px;
			}

			#cc19{
				top: 405px;
				left: 400px;
			}


		#cc7{
			top: 450px;
		}
			#cc20{
				top: 470px;
				left: 130px;
			}

			#cc21{
				top: 470px;
				left: 400px;
			}

/*____________*/
		


/*Roadmap*/

		.roadmap{
			top: 15%;
			left: 5%;
			width: 80%;
			/*height: 75vh;*/
			/*border: 1px solid black;*/
			position: absolute;
			/*background-image: url(comparisonchart-3.svg);*/
		}

		.roadmap img{
			width: 600px;
			height: 600px;
			position: absolute;
			top: 0%;
			margin-left: -5%;
		}

		.rmcontent{
			width: 150px;
			height: 50px;
			position: absolute;
		}

		.rmcontent2{
			width: 100px;
			height: 50px;
			position: absolute;
		}


		.rmcontent h5{
			font-size: 20px;
			text-align: left;
		}

		.rmcontent h6{
			font-size: 12px;
			margin-bottom: 5px;
		}

		.rmcontent p{
			font-size: 11px;
			color: #10579a;
			font-weight: bold;
			margin-left: 35px;
			margin-top: 5px;
		}

		.rmcontent2 h6{
			font-size: 12px;
			margin-bottom: 5px;
		}

		.rmcontent2 p{
			font-size: 11px;
			color: #10579a;
			font-weight: bold;
			margin-left: 35px;
			margin-top: 5px;
		}


		#rm1{
			top: 25px;
			left: 50px;
		}

		#rm2{
			top: 40px;
			left: 275px;
		}

		#rm3{
			top: 150px;
			left: 0px;
		}

		#rm4{
			top: 225px;
			left: -15px;
		}

		#rm5{
			top: 300px;
			left: -20px;
		}
		#rm5 p{
			margin-left: 28px;
		}

		#rm6{
			top: 142px;
			left: 290px;
		}

		#rm7{
			top: 120px;
			left: 460px;
		}
		#rm7 p{
			margin-left: 0px;
		}

		#rm8{
			top: 218px;
			left: 460px;
		}
		#rm8 p{
			margin-left: 20px;
		}

		#rm9{
			top: 218px;
			left: 280px;
		} 
		#rm9 p{
			margin-left: 25px;
		}

		#rm10{
			top: 310px;
			left: 280px;
		}
		#rm10 p{
			margin-left: 0px;
		}

		#rm11{
			top: 310px;
			left: 440px;
		}
		#rm11 p{
			margin-left: 0px;
		}

		#rm12{
			top: 480px;
			left: -30px;
		}

		#rm13{
			top: 480px;
			left: 120px;
		}

		#rm14{
			top: 500px;
			left: 250px;
		}
	
		#rm12 p, #rm13 p, #rm14 p{
			margin-left: 0px;
		}

		#rm15{
			top: 490px;
			left: 450px;
		}


	.single{
		width: 68%;
		height: 90%;
		display: inline-block;
		float: left;
		position: absolute;
		left: 0;
		margin-top:8%;
		/*border: 1px solid black;*/
	}


	.single2{
		width: 68%;
		height: 90%;
		display: inline-block;
		float: left;
		position: absolute;
		left: 0;
		margin-top:0%;
	}


	.single h3{
		/*font-size: 15px;*/
		color: #76b343;
		font-weight: bold;
		margin-bottom: 3%;
		text-align: left;
		margin-top: 30px;

	}

	/*#section4 h3{
		margin-top: 100px;
	}*/

	.single2 h4{
		color: black;
		font-weight: bold;
		text-align: left;
		margin-bottom: 1%;
		margin-top: 30px;
	}

	.single h4{
		color: black;
		font-weight: bold;
		text-align: left;
		margin-top: 30px;
	}
	.single .second{
			margin-top: 50px;
	}

	.single p{
		/*font-size: 15px;*/
		text-align: left;
		color: black;
		line-height: 18px;
		margin-bottom: 3%;
	}

	.single2 p{
		/*font-size: 12px;*/
		text-align: left;
		color: black;
		line-height: 18px;
		margin-bottom: 3%;
	}

	.single li{
		/*font-size: 12px;*/
		text-align: left;
		color: black;
		line-height: 15px;
		margin-bottom: 3%;
	}

	.divider{
	width: 70%;
	height: 15px;
	background-color: #30a7b5;
	position: absolute;
	left: 30%;
	}


	/*HELMETS BUTTON*/

	.button2{
		width: 200px;
		height: 150px;
		border: 5px solid #d89728;
		position: absolute;
		left: 65%;
		top: 90%;
	}

	.button2 p{
		/*font-size: 1.3rem;*/
		text-transform: uppercase;
		color: #d89728;
		padding-top: 10%;
		padding-left: 18%;
		font-weight: bold;
	}


	.buttonlink2{
		width: 50px;
		height: 50px;
		border-radius: 50px;
		position: absolute;
		background-color: #d89728;
		left: 38%;
		top: 57%;	
	}

	.buttonlink2 p{
		/*color: #10579a;*/
		color: white;
		/*font-size: 30px;*/
		position: absolute;
		padding-left: 10px;
		margin-top: 15px;
	}


	/*HAMBURGER*/

	.container {
			  max-width: 960px;
			  margin: auto;
			  overflow: hidden;
			  padding: 0 3rem;
			}

			.menu-wrap{
			  position: fixed;
			  top: 10%;
			  visibility: visible;
			}

			.container ul{
				padding-left: 10px;
				margin-top: 100px;

			}

			.showcase {
			  background: var(--primary-color);
			  color: #fff;
			  height: 100vh;
			  position: relative;
			}

			.showcase:before {
			  content: '';
			  /*background: url('https://images.pexels.com/photos/533923/pexels-photo-533923.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center/cover;*/
			  position: absolute;
			  top: 0;
			  left: 0;
			  width: 100%;
			  height: 100%;
			  z-index: -1;
			}

			.showcase .showcase-inner {
			  display: flex;
			  flex-direction: column;
			  align-items: center;
			  justify-content: center;
			  text-align: center;
			  height: 100%;
			}

			.showcase h1 {
			  font-size: 4rem;
			}

			.showcase p {
			  font-size: 1.3rem;
			}

			.btn {
			  display: inline-block;
			  border: none;
			  background: var(--primary-color);
			  color: #fff;
			  padding: 0.75rem 1.5rem;
			  margin-top: 1rem;
			  transition: opacity 1s ease-in-out;
			  text-decoration: none;
			}

			.btn:hover {
			  opacity: 0.7;
			}

			/* MENU STYLES */
			.menu-wrap {
			  /*position: fixed;*/
			  top: 0;
			  left: 0;
			  z-index: 1;
			}

			.menu-wrap .toggler {
			  position: absolute;
			  top: 0;
			  left: 0;
			  z-index: 2;
			  cursor: pointer;
			  width: 50px;
			  height: 50px;
			  opacity: 0;
			}


			.menu-wrap .hamburger {
			  position: absolute;
			  top: 0;
			  left: 0;
			  z-index: 1;
			  width: 60px;
			  height: 60px;
			  padding: 1rem;
			  background: var(--primary-color);
			  display: flex;
			  align-items: center;
			  justify-content: center;
			}

			/* Hamburger Line */
			.menu-wrap .hamburger > div {
			  position: relative;
			  flex: none;
			  width: 60%;
			  height: 3px;
			  background: #10579a;
			  display: flex;
			  align-items: center;
			  justify-content: center;
			  transition: all 0.4s ease;
			}

			/* Hamburger Lines - Top & Bottom */
			.menu-wrap .hamburger > div::before,
			.menu-wrap .hamburger > div::after {
			  content: '';
			  position: absolute;
			  z-index: 1;
			  top: -10px;
			  width: 100%;
			  height: 3px;
			  background: inherit;
			}

			/* Moves Line Down */
			.menu-wrap .hamburger > div::after {
			  top: 10px;
			}

			/* Toggler Animation */
			.menu-wrap .toggler:checked + .hamburger > div {
			  transform: rotate(135deg);
			}

			/* Turns Lines Into X */
			.menu-wrap .toggler:checked + .hamburger > div:before,
			.menu-wrap .toggler:checked + .hamburger > div:after {
			  top: 0;
			  transform: rotate(90deg);
			}

			/* Rotate On Hover When Checked */
			.menu-wrap .toggler:checked:hover + .hamburger > div {
			  transform: rotate(225deg);
			}

			/* Show Menu */
			.menu-wrap .toggler:checked ~ .menu {
			  visibility: visible;
			}

			.menu-wrap .toggler:checked ~ .menu > div {
			  transform: scale(1);
			  transition-duration: var(--menu-speed);
			}

			.menu-wrap .toggler:checked ~ .menu > div > div {
			  opacity: 1;
			  transition:  opacity 0.4s ease 0.4s;
			}

			.menu-wrap .menu {
			  position: fixed;
			  top: 50px;
			  left: 0;
			  width: 100%;
			  height: 100%;
			  visibility: hidden;
			  overflow: hidden;
			  display: flex;
			  /*align-items: center;*/
			  /*justify-content: center;*/
			}

			.menu-wrap .menu > div {
			  background: var(--overlay-color);
			  border-radius: 50%;
			/*  width: 200vw;
			  height: 200vw;*/
			  display: flex;
			  flex: none;
			  /*align-items: center;*/
			  /*justify-content: center;*/
			  transform: scale(0);
			  transition: all 0.4s ease;
			}

			.menu-wrap .menu > div > div {
			  text-align: left;
			  max-width: 90vw;
			  max-height: 100vh;
			  opacity: 0;
			  transition: opacity 0.4s ease;
			}

			.menu-wrap .menu > div > div > ul > li {
			  list-style: none;
			  color: #10579a;
			  font-size: 0.7rem;
			  text-transform: uppercase;
			  padding: 1rem;
			  font-weight: bold;
			}

			.menu-wrap .menu > div > div > ul > li > a {
			  color: inherit;
			  text-decoration: none;
			  transition: color 0.4s ease;
			}
		/*END HAMBURGER*/


}







/*LAPTOP4*/
@media only screen 
  and (min-width: 730px) 
  and (max-width: 859px) 
  and (-webkit-min-device-pixel-ratio: 1) {



  	#section4{
	height: 170vh;
	}	

	#section1{
	height: 220vh;
	}


	#section5,#section6{
		height: 200vh;
	}

  	.titletext{
	width: 550px;
	height: 50px;
	margin-left: 24%;
	top: 26%;
	position: absolute;
	}

	#title img{
		width: 300px;
		position: absolute;
		top: 30%;
		left: 50%;

	}

	.titletext h1{
		color: #10579a;
		opacity: 80%;
		text-align: center;
		vertical-align: middle;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 45px;
		margin-bottom: 10px;
		padding-left: 50px;
	}

	.titletext h2{
		font-size: 20px;
		color: #76b343;
		opacity: 80%;
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
		padding-left: 50px;
	}

	/*SCROLL*/
			.scrollcontainer {
			  position: absolute;
			  width: 24px;
			  height: 24px;
			  margin-left: 58%;
			  margin-top: 70%;

			}

		


/*SIDEBAR HIDDEN*/
	.sidebar{
		visibility: hidden;
	}
	.sidebartop{
		visibility: hidden;
	}
	.sidebarbott{
		visibility: hidden;
	}
/*SIDEBAR HIDDEN*/


	.content{
		width: 90%;
		height: 140vh;
		position: absolute;
		margin-top: 10px;
		margin-left: 30%;
		/*border: 1px solid black;*/
	}

	.content2{
		width: 90%;
		height: 140vh;
		position: absolute;
		margin-top: 0;
		margin-left: 25%;
		/*border: 1px solid black;*/
	}


	.content3{
		width: 90%;
		height: 100vh;
		position: absolute;
		margin-top: 0;
		margin-left: 30%;
	}


	.content h2, .content2 h2, .content3 h2{
		text-transform: uppercase;
		font-weight: bold;
		color: #10579a;
		font-size: 2rem; 
		text-align: left;
		vertical-align: middle;
		line-height: 80px;
		/*margin-bottom: 5px;*/
	}

	.description{
		width: 60%;
		height: 13%;
		position: absolute;
		/*border: 1px solid black;*/
		margin-top: 0;
		top: 9%;

	}

	.description p{
		/*font-size: 12px;*/
		text-align: left;
		color: black;
		line-height: 18px;

	}


	

	.imagecontainer{
		width: 25%;
		height: 65%;
		position: absolute;
		/*border: 1px solid black;*/
		margin-left: 0;
		margin-top: 80%;
	}


	.skullcontainer{
	width: 100%;
	height: 480px;
	position: absolute;
	margin-top: 20px;
	/*margin-left: 15%;*/
	display: inline-block;
	/*border: 1px solid black;*/
}


.skull1{
	width: 50%;
	height: 230px;
	position: absolute; 
	display: inline-block;
	/*border: 1px solid black;*/
}

.skullheading{
	width: 200px;
	margin-left: 0;
}

.skullimage{
	width: 400px;
	height: 200px;
	margin-left: 0%;
}

.skull2{
	width: 50%;
	height: 230px;
	position: absolute; 
	display: inline-block;
	margin-left: 50%;
}

.skull3{
	width: 50%;
	height: 230px;
	position: absolute; 
	display: inline-block;
	/*margin-left: 50%;*/
	margin-top: 240px;
}

.skull4{
	width: 50%;
	height: 230px;
	position: absolute; 
	display: inline-block;
	margin-left: 50%;
	margin-top: 240px;
}


	.image{
		width: 100%;
		height: 45%;
		position: absolute;
		/*border: 3px solid #d89728;*/
	}

	#img2{
		margin-top:55%;
	}

	#img3{
		width: 50%;
		height: 87%;
		position: absolute;
		/*border: 3px solid #d89728;*/
		margin-top: 600px;
		margin-left: 30%;
	}

	.chart{
		top: 20%;
		width: 80%;
		height: 75vh;
		/*border: 1px solid black;*/
		position: absolute;
		/*background-image: url(comparisonchart-3.svg);*/
	}

	.chart img{
		width: 500px;
		position: absolute;
		top: 0%;
	}


	.roadmap{
		top: 20%;
		left: 5%;
		width: 80%;
		/*height: 75vh;*/
		/*border: 1px solid black;*/
		position: absolute;
		/*background-image: url(comparisonchart-3.svg);*/
	}

	.roadmap img{
		width: 500px;
		position: absolute;
		top: 0%;
		margin-left: -5%;
	}

	.single{
		width: 68%;
		height: 90%;
		display: inline-block;
		float: left;
		position: absolute;
		left: 0;
		margin-top:8%;
		/*border: 1px solid black;*/
	}


	.single2{
		width: 68%;
		height: 90%;
		display: inline-block;
		float: left;
		position: absolute;
		left: 0;
		margin-top:0%;
	}


	.single h3{
		/*font-size: 15px;*/
		color: #76b343;
		font-weight: bold;
		margin-bottom: 3%;
		text-align: left;
		margin-top: 0;

	}

	.single2 h4{
		/*font-size: 12px;*/
		color: black;
		font-weight: bold;
		text-align: left;
		margin-bottom: 1%;
		margin-top: 0;
	}

	.single h4{
		/*font-size: 12px;*/
		color: black;
		font-weight: bold;
		text-align: left;
		margin-bottom: 1%;
		margin-top: 0;
	}
	.single .second{
			margin-top: 5%;
	}

	.single p{
		/*font-size: 12px;*/
		text-align: left;
		color: black;
		line-height: 18px;
		margin-bottom: 3%;
	}

	.single2 p{
		/*font-size: 12px;*/
		text-align: left;
		color: black;
		line-height: 18px;
		margin-bottom: 3%;
	}

	.single li{
		/*font-size: 12px;*/
		text-align: left;
		color: black;
		line-height: 15px;
		margin-bottom: 3%;
	}

	.divider{
	width: 70%;
	height: 15px;
	background-color: #30a7b5;
	position: absolute;
	left: 30%;
	}


	/*HELMETS BUTTON*/

	.button2{
		width: 200px;
		height: 150px;
		border: 5px solid #d89728;
		position: absolute;
		left: 57%;
		top: 75%;
	}

	.button2 p{
		font-size: 1.3rem;
		text-transform: uppercase;
		color: #d89728;
		padding-top: 5%;
		padding-left: 18%;
		font-weight: bold;
	}


	.buttonlink2{
		width: 50px;
		height: 50px;
		border-radius: 50px;
		position: absolute;
		background-color: #d89728;
		left: 38%;
		top: 57%;	
	}

	.buttonlink2 p{
		/*color: #10579a;*/
		color: white;
		font-size: 30px;
		position: absolute;
		padding-left: 10px;
		margin-top: 5px;
	}

	/*RESOURCES BUTTON*/
	.button{
		width: 200px;
		height: 150px;
		border: 5px solid #76b343;
		position: absolute;
		left: 30%;
		top: 150%;
	}

	.button p{
		font-size: 1.3rem;
		text-transform: uppercase;
		color: #76b343;
		padding-top: 0%;
		padding-left: 18%;
		line-height: 25px;
		font-weight: bold;
	}


	.buttonlink{
		width: 50px;
		height: 50px;
		border-radius: 50px;
		position: absolute;
		background-color: #76b343;
		left: 38%;
		top: 57%;	
	}

	.buttonlink p{
		/*color: #10579a;*/
		color: white;
		font-size: 30px;
		position: absolute;
		padding-left: 10px;
		margin-top: 15px;
	}


	

}

/*MOBILE*/

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 




















